<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_NPjBgBA-EeGQ0KsLDV4EFg" specification="@EventDriven&#xD;&#xA;@ChildFirstExecution&#xD;&#xA;&#xD;&#xA;interface:&#xD;&#xA;  in event police_interrupt&#xD;&#xA;  &#xD;&#xA;  var redPeriod : integer = 60&#xD;&#xA;  var greenPeriod : integer = 55&#xD;&#xA;  var yellowPeriod : integer = 5&#xD;&#xA;  &#xD;&#xA;interface TrafficLight:&#xD;&#xA;  out event displayRed&#xD;&#xA;  out event displayGreen&#xD;&#xA;  out event displayYellow&#xD;&#xA;  &#xD;&#xA;  " name="TrafficLightCtrl">
    <regions xmi:id="_YM2j4CQsEeeu6I-nNWXkgQ" name="main">
      <vertices xsi:type="sgraph:Entry" xmi:id="_Nb5g5TPREee5PeA_UCoIqQ">
        <outgoingTransitions xmi:id="_Nb6H8TPREee5PeA_UCoIqQ" target="_Nb3ruzPREee5PeA_UCoIqQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Nb3ruzPREee5PeA_UCoIqQ" specification="entry / raise TrafficLight.displayRed" name="Red" incomingTransitions="_Nb6H8TPREee5PeA_UCoIqQ _NcA1ozPREee5PeA_UCoIqQ">
        <outgoingTransitions xmi:id="_Nb6vADPREee5PeA_UCoIqQ" specification="after  redPeriod s" target="_Nb79NDPREee5PeA_UCoIqQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Nb79NDPREee5PeA_UCoIqQ" specification="entry / raise TrafficLight.displayGreen" name="Green" incomingTransitions="_Nb6vADPREee5PeA_UCoIqQ">
        <outgoingTransitions xmi:id="_Nb9LRTPREee5PeA_UCoIqQ" specification="after greenPeriod s" target="_Nb_AeTPREee5PeA_UCoIqQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Nb_AeTPREee5PeA_UCoIqQ" specification="entry / raise TrafficLight.displayYellow" name="Yellow" incomingTransitions="_Nb9LRTPREee5PeA_UCoIqQ">
        <outgoingTransitions xmi:id="_NcA1ozPREee5PeA_UCoIqQ" specification="after yellowPeriod s " target="_Nb3ruzPREee5PeA_UCoIqQ"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_NPjBgRA-EeGQ0KsLDV4EFg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_NPjBgBA-EeGQ0KsLDV4EFg" measurementUnit="Pixel">
    <children xsi:type="notation:Shape" xmi:id="_NPsyjxA-EeGQ0KsLDV4EFg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_NPsykRA-EeGQ0KsLDV4EFg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NPsykhA-EeGQ0KsLDV4EFg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NPsykxA-EeGQ0KsLDV4EFg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_NPsylBA-EeGQ0KsLDV4EFg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NPsylRA-EeGQ0KsLDV4EFg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NPsylhA-EeGQ0KsLDV4EFg" x="-24" y="-48" width="264" height="313"/>
    </children>
    <children xmi:id="_YM1VwCQsEeeu6I-nNWXkgQ" type="Region" element="_YM2j4CQsEeeu6I-nNWXkgQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_YM1VwSQsEeeu6I-nNWXkgQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YM1VwiQsEeeu6I-nNWXkgQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YM1VwyQsEeeu6I-nNWXkgQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_YM1VxCQsEeeu6I-nNWXkgQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_WsbnKlgdEee2zrW8CC077A" type="Entry" element="_Nb5g5TPREee5PeA_UCoIqQ">
          <children xmi:id="_WsbnK1gdEee2zrW8CC077A" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_WsbnLFgdEee2zrW8CC077A" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnLVgdEee2zrW8CC077A"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_WsbnLlgdEee2zrW8CC077A"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnL1gdEee2zrW8CC077A" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WsbnMFgdEee2zrW8CC077A"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnMVgdEee2zrW8CC077A" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WsbnMlgdEee2zrW8CC077A" x="118" y="6" width="15" height="15"/>
        </children>
        <children xmi:id="_WsbnFFgdEee2zrW8CC077A" type="State" element="_Nb3ruzPREee5PeA_UCoIqQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_WsbnFVgdEee2zrW8CC077A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnFlgdEee2zrW8CC077A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_WsbnF1gdEee2zrW8CC077A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_WsbnGFgdEee2zrW8CC077A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_WsbnGVgdEee2zrW8CC077A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WsbnGlgdEee2zrW8CC077A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_WsbnG1gdEee2zrW8CC077A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnHFgdEee2zrW8CC077A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_WsbnHVgdEee2zrW8CC077A"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WsbnHlgdEee2zrW8CC077A" x="19" y="56" width="219" height="67"/>
        </children>
        <children xmi:id="_WsbnM1gdEee2zrW8CC077A" type="State" element="_Nb79NDPREee5PeA_UCoIqQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_WsbnNFgdEee2zrW8CC077A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnNVgdEee2zrW8CC077A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_WsbnNlgdEee2zrW8CC077A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_WsbnN1gdEee2zrW8CC077A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_WsbnOFgdEee2zrW8CC077A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WsbnOVgdEee2zrW8CC077A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_WsbnOlgdEee2zrW8CC077A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnO1gdEee2zrW8CC077A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_WsbnPFgdEee2zrW8CC077A"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WsbnPVgdEee2zrW8CC077A" x="21" y="157" width="217" height="69"/>
        </children>
        <children xmi:id="_WsbnH1gdEee2zrW8CC077A" type="State" element="_Nb_AeTPREee5PeA_UCoIqQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_WsbnIFgdEee2zrW8CC077A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnIVgdEee2zrW8CC077A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_WsbnIlgdEee2zrW8CC077A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_WsbnI1gdEee2zrW8CC077A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_WsbnJFgdEee2zrW8CC077A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WsbnJVgdEee2zrW8CC077A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_WsbnJlgdEee2zrW8CC077A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnJ1gdEee2zrW8CC077A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_WsbnKFgdEee2zrW8CC077A"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WsbnKVgdEee2zrW8CC077A" x="21" y="268" width="217" height="56"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YM1WPiQsEeeu6I-nNWXkgQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_YM1WPyQsEeeu6I-nNWXkgQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YM1WQCQsEeeu6I-nNWXkgQ" x="8" y="-56" width="333" height="413"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_NPjBghA-EeGQ0KsLDV4EFg"/>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_L5R58MmkEemyA8AI2BXy4g" name="inlineDefinitionSection"/>
    <edges xmi:id="_Nb5g5jPREee5PeA_UCoIqQ" type="Transition" element="_Nb6H8TPREee5PeA_UCoIqQ" source="_WsbnKlgdEee2zrW8CC077A" target="_WsbnFFgdEee2zrW8CC077A">
      <children xsi:type="notation:DecorationNode" xmi:id="_Nb5g6zPREee5PeA_UCoIqQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Nb6H8DPREee5PeA_UCoIqQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Nb5g7DPREee5PeA_UCoIqQ"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Nb5g6jPREee5PeA_UCoIqQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Nb5g6TPREee5PeA_UCoIqQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Nb5g6DPREee5PeA_UCoIqQ" points="[0, 7, -57, -36]$[0, 43, -57, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_c2JDsMmkEemyA8AI2BXy4g" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Nb5g5zPREee5PeA_UCoIqQ" id="(0.7632997843278219,0.0)"/>
    </edges>
    <edges xmi:id="_Nb79KzPREee5PeA_UCoIqQ" type="Transition" element="_Nb6vADPREee5PeA_UCoIqQ" source="_WsbnFFgdEee2zrW8CC077A" target="_WsbnM1gdEee2zrW8CC077A">
      <children xsi:type="notation:DecorationNode" xmi:id="_Nb79LDPREee5PeA_UCoIqQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Nb79LTPREee5PeA_UCoIqQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Nb79LjPREee5PeA_UCoIqQ" x="-7" y="42"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Nb79LzPREee5PeA_UCoIqQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Nb79MDPREee5PeA_UCoIqQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Nb79MTPREee5PeA_UCoIqQ" points="[-20, -4, -29, -49]$[-20, 40, -29, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Nb79MjPREee5PeA_UCoIqQ" id="(0.5905823148813804,1.14656381486676)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Nb79MzPREee5PeA_UCoIqQ" id="(0.6312178387650086,0.0802654109589041)"/>
    </edges>
    <edges xmi:id="_Nb_AcDPREee5PeA_UCoIqQ" type="Transition" element="_Nb9LRTPREee5PeA_UCoIqQ" source="_WsbnM1gdEee2zrW8CC077A" target="_WsbnH1gdEee2zrW8CC077A">
      <children xsi:type="notation:DecorationNode" xmi:id="_Nb_AcTPREee5PeA_UCoIqQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Nb_AcjPREee5PeA_UCoIqQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Nb_AczPREee5PeA_UCoIqQ" x="-9" y="46"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Nb_AdDPREee5PeA_UCoIqQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Nb_AdTPREee5PeA_UCoIqQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Nb_AdjPREee5PeA_UCoIqQ" points="[63, 64, 51, -39]$[63, 101, 51, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Nb_AdzPREee5PeA_UCoIqQ" id="(0.19725557461406518,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Nb_AeDPREee5PeA_UCoIqQ" id="(0.250144187196177,0.053838484546360914)"/>
    </edges>
    <edges xmi:id="_NcAOkDPREee5PeA_UCoIqQ" type="Transition" element="_NcA1ozPREee5PeA_UCoIqQ" source="_WsbnH1gdEee2zrW8CC077A" target="_WsbnFFgdEee2zrW8CC077A">
      <children xsi:type="notation:DecorationNode" xmi:id="_NcA1oDPREee5PeA_UCoIqQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NcA1ojPREee5PeA_UCoIqQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NcA1oTPREee5PeA_UCoIqQ" x="-53" y="-51"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NcAOlTPREee5PeA_UCoIqQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NcAOlDPREee5PeA_UCoIqQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NcAOkzPREee5PeA_UCoIqQ" points="[-56, -14, -57, 207]$[-17, -14, -18, 207]$[-17, -197, -18, 24]$[-56, -197, -57, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NcAOkjPREee5PeA_UCoIqQ" id="(1.2677762214715333,0.6764705882352942)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NcAOkTPREee5PeA_UCoIqQ" id="(1.2703091301222142,0.4102384291725105)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
