<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_NPjBgBA-EeGQ0KsLDV4EFg" specification="@EventDriven&#xD;&#xA;@ChildFirstExecution&#xD;&#xA;&#xD;&#xA;interface:&#xD;&#xA;  in event police_interrupt&#xD;&#xA;  &#xD;&#xA;  var redPeriod : integer = 60&#xD;&#xA;  var greenPeriod : integer = 55&#xD;&#xA;  var yellowPeriod : integer = 5&#xD;&#xA;  &#xD;&#xA;interface TrafficLight:&#xD;&#xA;  out event displayRed&#xD;&#xA;  out event displayGreen&#xD;&#xA;  out event displayYellow&#xD;&#xA;  out event displayNone&#xD;&#xA;  &#xD;&#xA;  " name="TrafficLightCtrl">
    <regions xmi:id="_YM2j4CQsEeeu6I-nNWXkgQ" name="main">
      <vertices xsi:type="sgraph:Entry" xmi:id="_jy-hcDSeEeeAPdsPiQ6GsA">
        <outgoingTransitions xmi:id="_ksimsDSeEeeAPdsPiQ6GsA" specification="" target="_iLXc8DP6Eee5PeA_UCoIqQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_iLXc8DP6Eee5PeA_UCoIqQ" specification="" name="normal" incomingTransitions="_ksimsDSeEeeAPdsPiQ6GsA">
        <outgoingTransitions xmi:id="_gtX8IDPSEee5PeA_UCoIqQ" specification="police_interrupt " target="_YM5ALSQsEeeu6I-nNWXkgQ"/>
        <regions xmi:id="_iLYEAjP6Eee5PeA_UCoIqQ" name="normal">
          <vertices xsi:type="sgraph:State" xmi:id="_Nb3ruzPREee5PeA_UCoIqQ" specification="entry / raise TrafficLight.displayRed" name="Red" incomingTransitions="_Nb6H8TPREee5PeA_UCoIqQ _NcA1ozPREee5PeA_UCoIqQ">
            <outgoingTransitions xmi:id="_Nb6vADPREee5PeA_UCoIqQ" specification="after  redPeriod s" target="_Nb79NDPREee5PeA_UCoIqQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_Nb_AeTPREee5PeA_UCoIqQ" specification="entry / raise TrafficLight.displayYellow" name="Yellow" incomingTransitions="_Nb9LRTPREee5PeA_UCoIqQ">
            <outgoingTransitions xmi:id="_NcA1ozPREee5PeA_UCoIqQ" specification="after yellowPeriod s " target="_Nb3ruzPREee5PeA_UCoIqQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_Nb5g5TPREee5PeA_UCoIqQ">
            <outgoingTransitions xmi:id="_Nb6H8TPREee5PeA_UCoIqQ" target="_Nb3ruzPREee5PeA_UCoIqQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_Nb79NDPREee5PeA_UCoIqQ" specification="entry / raise TrafficLight.displayGreen" name="Green" incomingTransitions="_Nb6vADPREee5PeA_UCoIqQ">
            <outgoingTransitions xmi:id="_Nb9LRTPREee5PeA_UCoIqQ" specification="after greenPeriod s" target="_Nb_AeTPREee5PeA_UCoIqQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_yhdo0DPSEee5PeA_UCoIqQ" name="hist" incomingTransitions="_zc2TADPSEee5PeA_UCoIqQ" kind="SHALLOW_HISTORY"/>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_YM5ALSQsEeeu6I-nNWXkgQ" name="interrupted" incomingTransitions="_gtX8IDPSEee5PeA_UCoIqQ">
        <outgoingTransitions xmi:id="_zc2TADPSEee5PeA_UCoIqQ" specification="police_interrupt" target="_yhdo0DPSEee5PeA_UCoIqQ"/>
        <regions xmi:id="_YM5nNSQsEeeu6I-nNWXkgQ" name="blinking">
          <vertices xsi:type="sgraph:State" xmi:id="_YM5nNiQsEeeu6I-nNWXkgQ" specification="entry / raise TrafficLight.displayNone" name="Black" incomingTransitions="_YM5nTSQsEeeu6I-nNWXkgQ">
            <outgoingTransitions xmi:id="_YM5nPiQsEeeu6I-nNWXkgQ" specification="after 500ms" target="_YM5nRSQsEeeu6I-nNWXkgQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_YM5nQyQsEeeu6I-nNWXkgQ">
            <outgoingTransitions xmi:id="_YM5nRCQsEeeu6I-nNWXkgQ" target="_YM5nRSQsEeeu6I-nNWXkgQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_YM5nRSQsEeeu6I-nNWXkgQ" specification="entry / raise TrafficLight.displayYellow" name="Yellow" incomingTransitions="_YM5nRCQsEeeu6I-nNWXkgQ _YM5nPiQsEeeu6I-nNWXkgQ">
            <outgoingTransitions xmi:id="_YM5nTSQsEeeu6I-nNWXkgQ" specification="after 500ms" target="_YM5nNiQsEeeu6I-nNWXkgQ"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_NPjBgRA-EeGQ0KsLDV4EFg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_NPjBgBA-EeGQ0KsLDV4EFg" measurementUnit="Pixel">
    <children xsi:type="notation:Shape" xmi:id="_NPsyjxA-EeGQ0KsLDV4EFg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_NPsykRA-EeGQ0KsLDV4EFg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NPsykhA-EeGQ0KsLDV4EFg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NPsykxA-EeGQ0KsLDV4EFg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_NPsylBA-EeGQ0KsLDV4EFg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NPsylRA-EeGQ0KsLDV4EFg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NPsylhA-EeGQ0KsLDV4EFg" x="-24" y="-48" width="264" height="313"/>
    </children>
    <children xmi:id="_YM1VwCQsEeeu6I-nNWXkgQ" type="Region" element="_YM2j4CQsEeeu6I-nNWXkgQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_YM1VwSQsEeeu6I-nNWXkgQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YM1VwiQsEeeu6I-nNWXkgQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YM1VwyQsEeeu6I-nNWXkgQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_YM1VxCQsEeeu6I-nNWXkgQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_WsbnT1gdEee2zrW8CC077A" type="Entry" element="_jy-hcDSeEeeAPdsPiQ6GsA">
          <children xmi:id="_WsbnUFgdEee2zrW8CC077A" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_WsbnUVgdEee2zrW8CC077A" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnUlgdEee2zrW8CC077A"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_WsbnU1gdEee2zrW8CC077A"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnVFgdEee2zrW8CC077A" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WsbnVVgdEee2zrW8CC077A"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnVlgdEee2zrW8CC077A" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_WsbnV1gdEee2zrW8CC077A" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WsbnWFgdEee2zrW8CC077A" x="165" width="15" height="15"/>
        </children>
        <children xmi:id="_WsbnB1gdEee2zrW8CC077A" type="State" element="_iLXc8DP6Eee5PeA_UCoIqQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_WsbnCFgdEee2zrW8CC077A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnCVgdEee2zrW8CC077A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_WsbnClgdEee2zrW8CC077A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_WsbnC1gdEee2zrW8CC077A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_WsbnDFgdEee2zrW8CC077A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WsbnDVgdEee2zrW8CC077A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_WsbnDlgdEee2zrW8CC077A" type="StateFigureCompartment">
            <children xmi:id="_WsbnD1gdEee2zrW8CC077A" type="Region" element="_iLYEAjP6Eee5PeA_UCoIqQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_WsbnEFgdEee2zrW8CC077A" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnEVgdEee2zrW8CC077A"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_WsbnElgdEee2zrW8CC077A"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_WsbnE1gdEee2zrW8CC077A" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_WsbnFFgdEee2zrW8CC077A" type="State" element="_Nb3ruzPREee5PeA_UCoIqQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_WsbnFVgdEee2zrW8CC077A" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnFlgdEee2zrW8CC077A"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_WsbnF1gdEee2zrW8CC077A"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_WsbnGFgdEee2zrW8CC077A" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_WsbnGVgdEee2zrW8CC077A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WsbnGlgdEee2zrW8CC077A"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_WsbnG1gdEee2zrW8CC077A" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnHFgdEee2zrW8CC077A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_WsbnHVgdEee2zrW8CC077A"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WsbnHlgdEee2zrW8CC077A" x="-76" y="-57" width="211" height="55"/>
                </children>
                <children xmi:id="_WsbnH1gdEee2zrW8CC077A" type="State" element="_Nb_AeTPREee5PeA_UCoIqQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_WsbnIFgdEee2zrW8CC077A" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnIVgdEee2zrW8CC077A"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_WsbnIlgdEee2zrW8CC077A"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_WsbnI1gdEee2zrW8CC077A" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_WsbnJFgdEee2zrW8CC077A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WsbnJVgdEee2zrW8CC077A"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_WsbnJlgdEee2zrW8CC077A" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnJ1gdEee2zrW8CC077A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_WsbnKFgdEee2zrW8CC077A"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WsbnKVgdEee2zrW8CC077A" x="-74" y="155" width="210" height="55"/>
                </children>
                <children xmi:id="_WsbnKlgdEee2zrW8CC077A" type="Entry" element="_Nb5g5TPREee5PeA_UCoIqQ">
                  <children xmi:id="_WsbnK1gdEee2zrW8CC077A" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_WsbnLFgdEee2zrW8CC077A" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnLVgdEee2zrW8CC077A"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_WsbnLlgdEee2zrW8CC077A"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnL1gdEee2zrW8CC077A" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WsbnMFgdEee2zrW8CC077A"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnMVgdEee2zrW8CC077A" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WsbnMlgdEee2zrW8CC077A" x="21" y="-91" width="15" height="15"/>
                </children>
                <children xmi:id="_WsbnM1gdEee2zrW8CC077A" type="State" element="_Nb79NDPREee5PeA_UCoIqQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_WsbnNFgdEee2zrW8CC077A" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnNVgdEee2zrW8CC077A"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_WsbnNlgdEee2zrW8CC077A"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_WsbnN1gdEee2zrW8CC077A" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_WsbnOFgdEee2zrW8CC077A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WsbnOVgdEee2zrW8CC077A"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_WsbnOlgdEee2zrW8CC077A" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnO1gdEee2zrW8CC077A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_WsbnPFgdEee2zrW8CC077A"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WsbnPVgdEee2zrW8CC077A" x="-74" y="44" width="209" height="55"/>
                </children>
                <children xmi:id="_WsbnPlgdEee2zrW8CC077A" type="DeepHistory" element="_yhdo0DPSEee5PeA_UCoIqQ">
                  <children xmi:id="_WsbnP1gdEee2zrW8CC077A" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_WsbnQFgdEee2zrW8CC077A" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnQVgdEee2zrW8CC077A"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_WsbnQlgdEee2zrW8CC077A"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnQ1gdEee2zrW8CC077A" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WsbnRFgdEee2zrW8CC077A"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnRVgdEee2zrW8CC077A" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_WsbnRlgdEee2zrW8CC077A" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WsbnR1gdEee2zrW8CC077A" x="167" y="190" width="15" height="15"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WsbnSFgdEee2zrW8CC077A"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnSVgdEee2zrW8CC077A" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WsbnSlgdEee2zrW8CC077A"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnS1gdEee2zrW8CC077A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_WsbnTFgdEee2zrW8CC077A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_WsbnTVgdEee2zrW8CC077A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WsbnTlgdEee2zrW8CC077A" x="17" y="45" width="320" height="390"/>
        </children>
        <children xmi:id="_Wsbm1VgdEee2zrW8CC077A" type="State" element="_YM5ALSQsEeeu6I-nNWXkgQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_Wsbm1lgdEee2zrW8CC077A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Wsbm11gdEee2zrW8CC077A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Wsbm2FgdEee2zrW8CC077A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Wsbm2VgdEee2zrW8CC077A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Wsbm2lgdEee2zrW8CC077A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Wsbm21gdEee2zrW8CC077A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Wsbm3FgdEee2zrW8CC077A" type="StateFigureCompartment">
            <children xmi:id="_BZPgcM8vEeiVr7-8laqeyA" type="Region" element="_YM5nNSQsEeeu6I-nNWXkgQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_BZPgcc8vEeiVr7-8laqeyA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_BZPgcs8vEeiVr7-8laqeyA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_BZPgc88vEeiVr7-8laqeyA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_BZPgdM8vEeiVr7-8laqeyA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_BZPgdc8vEeiVr7-8laqeyA" type="State" element="_YM5nNiQsEeeu6I-nNWXkgQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_BZPgds8vEeiVr7-8laqeyA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_BZPgd88vEeiVr7-8laqeyA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_BZPgeM8vEeiVr7-8laqeyA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_BZPgec8vEeiVr7-8laqeyA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_BZPges8vEeiVr7-8laqeyA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BZPge88vEeiVr7-8laqeyA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_BZPgfM8vEeiVr7-8laqeyA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_BZPgfc8vEeiVr7-8laqeyA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_BZPgfs8vEeiVr7-8laqeyA"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BZPgf88vEeiVr7-8laqeyA" x="9" y="114" width="216" height="55"/>
                </children>
                <children xmi:id="_BZPggM8vEeiVr7-8laqeyA" type="Entry" element="_YM5nQyQsEeeu6I-nNWXkgQ">
                  <children xmi:id="_BZPggc8vEeiVr7-8laqeyA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_BZPggs8vEeiVr7-8laqeyA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_BZPgg88vEeiVr7-8laqeyA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_BZPghM8vEeiVr7-8laqeyA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_BZPghc8vEeiVr7-8laqeyA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BZPghs8vEeiVr7-8laqeyA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_BZPgh88vEeiVr7-8laqeyA" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BZPgiM8vEeiVr7-8laqeyA" x="119" y="-23" width="15" height="15"/>
                </children>
                <children xmi:id="_BZPgic8vEeiVr7-8laqeyA" type="State" element="_YM5nRSQsEeeu6I-nNWXkgQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_BZPgis8vEeiVr7-8laqeyA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_BZPgi88vEeiVr7-8laqeyA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_BZPgjM8vEeiVr7-8laqeyA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_BZPgjc8vEeiVr7-8laqeyA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_BZPgjs8vEeiVr7-8laqeyA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BZPgj88vEeiVr7-8laqeyA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_BZPgkM8vEeiVr7-8laqeyA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_BZPgkc8vEeiVr7-8laqeyA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_BZPgks8vEeiVr7-8laqeyA"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BZPgk88vEeiVr7-8laqeyA" x="9" y="14" width="216" height="64"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BZPglM8vEeiVr7-8laqeyA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_BZPglc8vEeiVr7-8laqeyA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BZPgls8vEeiVr7-8laqeyA"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_WsbnBFgdEee2zrW8CC077A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_WsbnBVgdEee2zrW8CC077A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_tje28M8uEeiVr7-8laqeyA" name="isInline" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WsbnBlgdEee2zrW8CC077A" x="383" y="94" width="270" height="278"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YM1WPiQsEeeu6I-nNWXkgQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_YM1WPyQsEeeu6I-nNWXkgQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YM1WQCQsEeeu6I-nNWXkgQ" x="8" y="-56" width="689" height="481"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_NPjBghA-EeGQ0KsLDV4EFg"/>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_L5R58MmkEemyA8AI2BXy4g" name="inlineDefinitionSection"/>
    <edges xmi:id="_Nb5g5jPREee5PeA_UCoIqQ" type="Transition" element="_Nb6H8TPREee5PeA_UCoIqQ" source="_WsbnKlgdEee2zrW8CC077A" target="_WsbnFFgdEee2zrW8CC077A">
      <children xsi:type="notation:DecorationNode" xmi:id="_Nb5g6zPREee5PeA_UCoIqQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Nb6H8DPREee5PeA_UCoIqQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Nb5g7DPREee5PeA_UCoIqQ"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Nb5g6jPREee5PeA_UCoIqQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Nb5g6TPREee5PeA_UCoIqQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Nb5g6DPREee5PeA_UCoIqQ" points="[0, 7, -59, -26]$[0, 33, -59, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_c2JDsMmkEemyA8AI2BXy4g" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Nb5g5zPREee5PeA_UCoIqQ" id="(0.7929424943988052,0.0)"/>
    </edges>
    <edges xmi:id="_Nb79KzPREee5PeA_UCoIqQ" type="Transition" element="_Nb6vADPREee5PeA_UCoIqQ" source="_WsbnFFgdEee2zrW8CC077A" target="_WsbnM1gdEee2zrW8CC077A">
      <children xsi:type="notation:DecorationNode" xmi:id="_Nb79LDPREee5PeA_UCoIqQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Nb79LTPREee5PeA_UCoIqQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Nb79LjPREee5PeA_UCoIqQ" x="-7" y="42"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Nb79LzPREee5PeA_UCoIqQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Nb79MDPREee5PeA_UCoIqQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Nb79MTPREee5PeA_UCoIqQ" points="[-20, -4, -29, -49]$[-20, 40, -29, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Nb79MjPREee5PeA_UCoIqQ" id="(0.6135175504107544,1.4217391304347826)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Nb79MzPREee5PeA_UCoIqQ" id="(0.6559714795008912,0.10273972602739725)"/>
    </edges>
    <edges xmi:id="_Nb_AcDPREee5PeA_UCoIqQ" type="Transition" element="_Nb9LRTPREee5PeA_UCoIqQ" source="_WsbnM1gdEee2zrW8CC077A" target="_WsbnH1gdEee2zrW8CC077A">
      <children xsi:type="notation:DecorationNode" xmi:id="_Nb_AcTPREee5PeA_UCoIqQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Nb_AcjPREee5PeA_UCoIqQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Nb_AczPREee5PeA_UCoIqQ" x="-9" y="46"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Nb_AdDPREee5PeA_UCoIqQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Nb_AdTPREee5PeA_UCoIqQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Nb_AdjPREee5PeA_UCoIqQ" points="[63, 64, 51, -39]$[63, 101, 51, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Nb_AdzPREee5PeA_UCoIqQ" id="(0.20499108734402852,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Nb_AeDPREee5PeA_UCoIqQ" id="(0.25868569602726593,0.05491525423728813)"/>
    </edges>
    <edges xmi:id="_NcAOkDPREee5PeA_UCoIqQ" type="Transition" element="_NcA1ozPREee5PeA_UCoIqQ" source="_WsbnH1gdEee2zrW8CC077A" target="_WsbnFFgdEee2zrW8CC077A">
      <children xsi:type="notation:DecorationNode" xmi:id="_NcA1oDPREee5PeA_UCoIqQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NcA1ojPREee5PeA_UCoIqQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NcA1oTPREee5PeA_UCoIqQ" x="-53" y="-51"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NcAOlTPREee5PeA_UCoIqQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NcAOlDPREee5PeA_UCoIqQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NcAOkzPREee5PeA_UCoIqQ" points="[-56, -14, -57, 207]$[-17, -14, -18, 207]$[-17, -197, -18, 24]$[-56, -197, -57, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NcAOkjPREee5PeA_UCoIqQ" id="(1.311066141229098,0.69)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NcAOkTPREee5PeA_UCoIqQ" id="(1.3196415235250187,0.508695652173913)"/>
    </edges>
    <edges xmi:id="_YM8qoyQsEeeu6I-nNWXkgQ" type="Transition" element="_YM5nRCQsEeeu6I-nNWXkgQ" source="_BZPggM8vEeiVr7-8laqeyA" target="_BZPgic8vEeiVr7-8laqeyA">
      <children xsi:type="notation:DecorationNode" xmi:id="_YM8qpCQsEeeu6I-nNWXkgQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YM8qpSQsEeeu6I-nNWXkgQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YM8qpiQsEeeu6I-nNWXkgQ"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_YM8qpyQsEeeu6I-nNWXkgQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_YM8qqCQsEeeu6I-nNWXkgQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_YM8qqSQsEeeu6I-nNWXkgQ" points="[0, 7, -38, -23]$[0, 30, -38, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_z9rH8NMQEemDw8p9rD3eIQ" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YM8qqiQsEeeu6I-nNWXkgQ" id="(0.7353060315145624,0.0)"/>
    </edges>
    <edges xmi:id="_YM8qqyQsEeeu6I-nNWXkgQ" type="Transition" element="_YM5nPiQsEeeu6I-nNWXkgQ" source="_BZPgdc8vEeiVr7-8laqeyA" target="_BZPgic8vEeiVr7-8laqeyA">
      <children xsi:type="notation:DecorationNode" xmi:id="_YM8qrCQsEeeu6I-nNWXkgQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YM8qrSQsEeeu6I-nNWXkgQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YM8qriQsEeeu6I-nNWXkgQ" x="-2" y="4"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_YM8qryQsEeeu6I-nNWXkgQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_YM8qsCQsEeeu6I-nNWXkgQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_YM8qsSQsEeeu6I-nNWXkgQ" points="[116, 0, -100, 80]$[116, -41, -100, 39]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YM8qsiQsEeeu6I-nNWXkgQ" id="(0.20215650158322812,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YM8qsyQsEeeu6I-nNWXkgQ" id="(1.223720986754162,0.3391304347826087)"/>
    </edges>
    <edges xmi:id="_YM8qtCQsEeeu6I-nNWXkgQ" type="Transition" element="_YM5nTSQsEeeu6I-nNWXkgQ" source="_BZPgic8vEeiVr7-8laqeyA" target="_BZPgdc8vEeiVr7-8laqeyA">
      <children xsi:type="notation:DecorationNode" xmi:id="_YM8qtSQsEeeu6I-nNWXkgQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YM8qtiQsEeeu6I-nNWXkgQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YM8qtyQsEeeu6I-nNWXkgQ" x="1" y="-4"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_YM8quCQsEeeu6I-nNWXkgQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_YM8quSQsEeeu6I-nNWXkgQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_YM8quiQsEeeu6I-nNWXkgQ" points="[18, 59, 30, -50]$[18, 100, 30, -9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YM8quyQsEeeu6I-nNWXkgQ" id="(0.2468910762749625,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YM8qvCQsEeeu6I-nNWXkgQ" id="(0.19122912311926984,0.1917808219178082)"/>
    </edges>
    <edges xmi:id="_gtaYYDPSEee5PeA_UCoIqQ" type="Transition" element="_gtX8IDPSEee5PeA_UCoIqQ" source="_WsbnB1gdEee2zrW8CC077A" target="_Wsbm1VgdEee2zrW8CC077A">
      <children xsi:type="notation:DecorationNode" xmi:id="_gtaYZDPSEee5PeA_UCoIqQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gtaYZTPSEee5PeA_UCoIqQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gta_cDPSEee5PeA_UCoIqQ" x="-9" y="-8"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_gtaYYTPSEee5PeA_UCoIqQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_gtaYYzPSEee5PeA_UCoIqQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_gtaYYjPSEee5PeA_UCoIqQ" points="[41, 20, -136, -31]$[224, 20, 47, -31]$[224, 47, 47, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gtc0oDPSEee5PeA_UCoIqQ" id="(0.8723663144412424,0.006588076468744726)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gtc0oTPSEee5PeA_UCoIqQ" id="(0.3207774459972782,0.01644760345074287)"/>
    </edges>
    <edges xmi:id="_zc26EDPSEee5PeA_UCoIqQ" type="Transition" element="_zc2TADPSEee5PeA_UCoIqQ" source="_Wsbm1VgdEee2zrW8CC077A" target="_WsbnPlgdEee2zrW8CC077A">
      <children xsi:type="notation:DecorationNode" xmi:id="_zc26FDPSEee5PeA_UCoIqQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zc26FTPSEee5PeA_UCoIqQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zc26FjPSEee5PeA_UCoIqQ" x="-63" y="15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_zc26ETPSEee5PeA_UCoIqQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_zc26EzPSEee5PeA_UCoIqQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_zc26EjPSEee5PeA_UCoIqQ" points="[-59, 246, 237, -24]$[-59, 271, 237, 1]$[-290, 271, 6, 1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zc4IMDPSEee5PeA_UCoIqQ" id="(0.7442036747136853,0.10089274396163413)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ER0SwNM7EemDw8p9rD3eIQ" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_ksj00DSeEeeAPdsPiQ6GsA" type="Transition" element="_ksimsDSeEeeAPdsPiQ6GsA" source="_WsbnT1gdEee2zrW8CC077A" target="_WsbnB1gdEee2zrW8CC077A">
      <children xsi:type="notation:DecorationNode" xmi:id="_ksj01DSeEeeAPdsPiQ6GsA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ksj01TSeEeeAPdsPiQ6GsA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ksj01jSeEeeAPdsPiQ6GsA"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ksj00TSeEeeAPdsPiQ6GsA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ksj00zSeEeeAPdsPiQ6GsA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ksj00jSeEeeAPdsPiQ6GsA" points="[0, 7, -89, -41]$[0, 33, -89, -15]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xK2boNedEemfO5DDpYxYWQ" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kslC8DSeEeeAPdsPiQ6GsA" id="(0.7759897828863346,0.042759150157718175)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
